{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>

<head>
    <title>Clock</title>
    <script type="text/javascript" src="{% static 'JS/Timer.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">

</head>

<body onload="Update()">
<p align="center">Time</p>
<div align="center" id="Time">00:00:00</div>
</body>

</html>{% endblock %}